<%= simple_form_for @parking do |p| %> 
  <div>
    <%= p.input :name, label: "Nom du parking" %>
  </div>

  <div>
    <%= p.input :process_step, collection:available_step_process(current_user.role), label: "Etape du process", include_blank: false %>
  </div>

  <%= p.submit "Update", class: "btn btn-primary" %>
<% end %>